{% extends 'base.html' %}
{% load static %}


{% block scripts %}
  <script src="{% static 'button.js' %}" defer></script>
  <script src="{% static 'handleAlert.js' %}"></script>
{% endblock scripts %}

{% block title %}
Search stock - 
{% if stock_data %}
{{  stock_data.symbol }} 

{% endif %}


{% endblock %}
{%  block content %}
<!-- Modal -->
<div class="modal fade" id="addtoportfolioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add to your portfolio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="alert-box"></div>
          <form action="{% url 'quotes:add-to-portfolio' %}" id="position-form" id="modal-body">
              {% csrf_token %}
              {% if PositionForm.errors %}
              <p>Please correct the following errors:</p>
                      {% for field in PositionForm %}
                          {% if field.errors %}
                              <div class="alert alert-primary" role="alert">
                                  {{ field.label }}: {{ field.errors|striptags }}
                              </div>
                          {% endif %}
                      {% endfor %}
                {% endif %}
                <label>{{ PositionForm.stock_symbol.label }}<span class="text-muted small">(Required)</span></label>
                {{ PositionForm.stock_symbol }}
                <label>{{ PositionForm.stock_shares.label }}<span class="text-muted small">(Required)</span></label>
                {{ PositionForm.stock_shares }}
                <label>{{ PositionForm.stock_price.label }}<span class="text-muted small">(Required)</span></label>
                {{ PositionForm.stock_price }}
                <button type="submit" class="btn btn-primary">Add to portfolio</button>
            </form>
                
          </div>
      </div>
    </div>
  </div>
<script>
   // $(document).ready(function(){
    //    $("#test").click(function(){
    //        $("#testDiv").append('<p>'+ "Hello" +'</p>');
            //console.log("HI!");
    //    });
   // });
</script>

{% if ticker %}
    {{ ticker }}
{% endif %}

{% if stock_data %}
    {% if stock_data.Error %}
        There was a problem with your ticker,
        please try again..
        <div>
            <button type="submit"><a href="{% url 'account:dashboard' %}">Back</a></button>
        </div>
    {% else %}
        <h1>{{  stock_data.companyName }} </h1><br/>
        Price : {{  stock_data.latestPrice }} <br/>
        Previous Close: {{  stock_data.previousClose }} <br/>
        Market Cap: {{  stock_data.marketCap }} <br/>
        YTD Change: {{  stock_data.ytdChange }} <br/>
        52Wk High: {{  stock_data.week52High }} <br/>
        52Wk Low: {{  stock_data.week52Low }} <br/>
        

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addtoportfolioModal" id='add-stock-btn'>
            Add to Portfolio
        </button>
        <button type="button" class="btn btn-primary"><a href="{% url 'account:dashboard' %}">Back</a></button>
    {% endif %}
{% endif %}


{% endblock %}