{% extends 'base.html' %}
{%  block content %}


<h1>TO do list rather than about page </h1>
<h3>TODO</h3>
<p>login/ register system ---- DONE 2/2021</p>
<p> SHOW the price, add/delete ---- DONE 10/3/2021</p>

<p> user can add stock on their portfolio ---- DONE</p>
<p> function fix: add stock --- check exist? if yes ---> ++  -->DONE</p>
<h3> NOT YET</h3>
<p> Efficient Frontier ---- NOT YET</p>

<p> portfolio page ---- display user current stock(DONE) , add search stock button </p>
<p> portfolio page ---- latest price , new function --> get the latest price, append to the portfolio context </p>
<p> portfolio page ---- Modify --> #of shares / delete stock </p>
<p> portfolio / dashboard ---- chart.js --> showing the graph</p>
<p> modal--> add -> success return page/// fail to add-> error message!</p>
{% endblock %}