{% extends 'base.html' %}
{% load static %}
{% block title %}
    Efficient Frontier
{% endblock %}

{% block scripts %}
  <script src="{% static 'efmodal.js' %}" defer></script>
{% endblock scripts %}

{%  block content %}
{% if holding %}
<div class="container">
  <h1>Efficient Frontier Analysis</h1>
  <form action="" method='post' id='checkbox-stock-form'>
    
    {% csrf_token %}
  <div class="row">
    <div class="col-sm">
      <p>Current Stock in your portfolio</p>
      {% for item in holding %}
              <!-- input type pass the value format {'TSLA' : ['TSLA']}  -->
              <input type="checkbox" value="{{item.stock_symbol}}" name="stock_symbol">
              {{item.stock_symbol}}<br>
          {% endfor %}
    </div>
    <div class="col-sm">
      Select time period in analsis (from 1 month to 3 years)
      <select id="time-period" name="time">
        <option value="1mo">1 month</option>
        <option value="3mo">3 months</option>
        <option value="6mo">6 months</option>
        <option value="1y">1 year</option>
        <option value="2y">2 years</option>
        <option value="3y">3 years</option>
      </select>
    </div>
    <div class="col-sm">
      Input number of portfolio to simulate (from 1000 to 5000)
      <br>
      <input type="number" id="num-portfolio" name="num-portfolio" min="1000" max="5000">
      <br>
      Select the number of records displayed(from 50 to 500)
      <br>
      <input type="number" id="display-record" name="display-record" min="50" max="500" step="50">
    </div>
  </div>
    <button type="submit" id="submit-stock-btn">Submit</button>
  </form>
</div>
{% else %}
<h1>You have no stock record. Go to add the stock to your portfolio now!</h1>
{% endif %}

<!--<form action="" method='post' id='checkbox-stock-form'>
          {% if holding %}
          {% csrf_token %}
              {% for item in holding %}
                  
                  <input type="checkbox" value="{{item.stock_symbol}}" name="stock_symbol">
                  {{item.stock_symbol}}<br>

              {% endfor %}
              <button type="submit" id="submit-stock-btn">Submit</button>
          {% endif %}
      </form>    -->
<!-- input type pass the value format {'TSLA' : ['TSLA']}  -->

      




<br>


  {% if efdf_split %}
  <!-- save in db Modal -->
<div class="modal fade" id="savemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Save the Efficient Frontier</h5>
        <button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="save-in-database-modal-body">
        <div id="save-alert-box"></div>
          <form action="{% url 'portfolio:save-to-portfolio' %}" id="save-portfolio-form" id="modal-body">
            {% csrf_token %}
            {% if efform.errors %}
            <p>Please correct the following errors:</p>
                    {% for field in efform %}
                        {% if field.errors %}
                            <div class="alert alert-primary" role="alert">
                                {{ field.label }}: {{ field.errors|striptags }}
                            </div>
                        {% endif %}
                    {% endfor %}
              {% endif %}
              <label>{{ efform.name.label }}<span class="text-muted small">(Required)</span></label>
              {{ efform.name }}
              <br>
              <label>{{ efform.description.label }}<span class="text-muted small">(Required)</span></label>
              {{ efform.description }}
              <br>
              <button type="submit" class="btn btn-primary">Save</button>
          </form>
              
             
              
        </div>
    </div>
  </div>
</div>
<!-- End of Modal -->
  <button type="button" class="btn btn-primary not-visible" data-toggle="modal" data-target="#savemodal" id='save-btn'>
    Save in Portfolio History
  </button>
  <br>
  <form action="{%  url 'portfolio:output-csv-test' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Download CSV" class="btn btn-warning" role="button">
    <input type="hidden" id="efdf-split-data" name="efdf-split-data">
  </form>
  {{ efdf_split|json_script:"efdf-split-json" }}
  <script>
    document.getElementById("efdf-split-data").value = document.getElementById("efdf-split-json").textContent;
    
  </script>
  {% endif %}

  {% if df %}
  <div class="container">
    <h1>The result of efficient frontier analysis:</h1>
    <br>
    <div class="chart-container">
      <canvas id="myChart"></canvas>
    </div>
    <br>
    
    <div class="row">
      <div class="col">
        {{ df|safe }}
      </div>
      <div class="col">
        Chart
        <br>
        <img src="data:image/png;base64, {{test_chart|safe}}" id='img' width="800" height="600">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
          var fxfyData = {{fxfy_record|safe}};
          ctx = document.getElementById("myChart");
          var myChart = new Chart(ctx, {
            type: 'scatter',
            data: {
                
                datasets: [{
                  label: 'Efficient Frontier',
                  data: fxfyData,
                  backgroundColor: 'rgb(255, 99, 132)'
                }]
            },
            options: {
              responsive:true,
              parsing: {
                xAxisKey: 'Volatility',
                yAxisKey: 'Return'},
            
            scales: {
              x: {
                type: 'linear',
                position: 'bottom'
              }
            }
            }
        });


        </script>
      </div>
    </div>
    {% endif %}

{% endblock %}




  
