{% extends 'base.html' %}
{% load static %}
{% block title %}
    Efficient Frontier
{% endblock %}

{% block scripts %}
  <script src="{% static 'efmodal.js' %}" defer></script>
{% endblock scripts %}

{%  block content %}


<form action="" method='post' id='checkbox-stock-form'>
    {% if holding %}
    {% csrf_token %}
        {% for item in holding %}
            <!-- input type pass the value format {'TSLA' : ['TSLA']}  -->
            <input type="checkbox" value="{{item.stock_symbol}}" name="stock_symbol">
            {{item.stock_symbol}}<br>

        {% endfor %}
        <button type="submit" id="submit-stock-btn">Submit</button>
    {% endif %}
</form>



      


</table>
<div class="chart-container">
  <canvas id="myChart"></canvas>
</div>


{% if df %}
  {{ df|safe }}

<br>
Chart
<img src="data:image/png;base64, {{test_chart|safe}}" id='img'>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var fxfyData = {{fxfy_record|safe}};
  ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'scatter',
    data: {
        
        datasets: [{
          label: 'Efficient Frontier',
          data: fxfyData,
          backgroundColor: 'rgb(255, 99, 132)'
        }]
    },
    options: {
      responsive:true,
      parsing: {
        xAxisKey: 'Volatility',
        yAxisKey: 'Return'},
    
    scales: {
      x: {
        type: 'linear',
        position: 'bottom'
      }
    }
    }
});


</script>
<!-- output csv Modal -->
<div class="modal fade" id="outputcsvmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Save the Efficient Frontier</h5>
        <button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id='outputcsv-modal-body'>
        <div id="csv-alert-box"></div>
              
              <button type="submit" class="btn btn-primary">Save as CSV</button>
              
              
        </div>
    </div>
  </div>
</div>
<!-- End of Modal -->

<!-- save in db Modal -->
<div class="modal fade" id="savemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Save the Efficient Frontier</h5>
        <button type="button" class="close btn btn-dark" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="save-in-database-modal-body">
        <div id="save-alert-box"></div>
          <form action="{% url 'portfolio:save-to-portfolio' %}" id="save-portfolio-form" id="modal-body">
            {% csrf_token %}
            {% if efform.errors %}
            <p>Please correct the following errors:</p>
                    {% for field in efform %}
                        {% if field.errors %}
                            <div class="alert alert-primary" role="alert">
                                {{ field.label }}: {{ field.errors|striptags }}
                            </div>
                        {% endif %}
                    {% endfor %}
              {% endif %}
              <label>{{ efform.name.label }}<span class="text-muted small">(Required)</span></label>
              {{ efform.name }}
              <br>
              <label>{{ efform.description.label }}<span class="text-muted small">(Required)</span></label>
              {{ efform.description }}
              <br>
              <button type="submit" class="btn btn-primary">Save</button>
          </form>
              
             
              
        </div>
    </div>
  </div>
</div>
<!-- End of Modal -->
<button type="button" class="btn btn-primary not-visible" data-toggle="modal" data-target="#outputcsvmodal" id='download-btn'>
  Download
</button>
<button type="button" class="btn btn-primary not-visible" data-toggle="modal" data-target="#savemodal" id='save-btn'>
  Save in Portfolio History
</button>

{% endif %}
{% endblock %}




  
