{% extends 'base.html' %}

{% block title %}
Portfolio overview

{% endblock %}

{% block content %}
<h1>Portfolio Overview</h1>
{% block messages %}
      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}"> 
                  {{ message|safe }}
              </div>
          {% endfor %}
      {% endif %}
  {% endblock %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      
      <th scope="col">Stock Symbol</th>
      <th scope="col">Stock Shares</th>
      <th scope="col">Cost (USD)</th>
      <th scope="col">Stock Latest Price (USD)</th>
      <th scope="col">Delete</th>
      
      
    </tr>
  </thead>
  
  <tbody>
    {% if portfolio %}
      {% for item in portfolio %} 
          
          
            <tr>
                
                <td>{{ item.stock_symbol }}</td>
                <td>{{ item.stock_shares }}</td>
                <td>{{ item.stock_price }}</td>
                <td>{{ item.stock_latestprice }}</td>
                <td><a href="{% url 'portfolio:delete' item.stock_symbol %}">Delete Stock</a></td> 
            </tr>
          
      {% endfor %}

    
    {% endif %}

  </tbody>
</table>
{% endblock %}

