{% extends 'base.html' %}
{% load static %}
{% block title %}
Portfolio overview

{% endblock %}

{% block content %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 <script type="text/javascript">
   google.charts.load('current', {'packages':['corechart']});
   google.charts.setOnLoadCallback(drawStockAllocationChart);
   const stockData = {{ piechartdata|safe }}
   
   function drawStockAllocationChart() {

     var data = google.visualization.arrayToDataTable(stockData);

     var options = {
       title: 'Stock Allocation'
     };

     var chart = new google.visualization.PieChart(document.getElementById('stock-allocation-piechart'));

     chart.draw(data, options);
   }
   google.charts.load('current', {'packages':['bar']});
   google.charts.setOnLoadCallback(drawStuff);
   const barChartdata = {{ barchartdata|safe }}
   function drawStuff() {
     var data = new google.visualization.arrayToDataTable(barChartdata);

     var options = {
       width: 800,
       chart: {
         title: 'Price Vs Cost'
       },
       bars: 'horizontal', // Required for Material Bar Charts.
       series: {
         1: { axis: 'Cost'}, // Bind series 0 to an axis named 'distance'.
         0: { axis: 'Price' } // Bind series 1 to an axis named 'brightness'.
       },
       axes: {
         x: {
          Cost: {label: 'Cost'}, // Bottom x-axis.
          Price: {side: 'top', label: 'Price'} // Top x-axis.
         }
       }
     };

   var chart = new google.charts.Bar(document.getElementById('cost-price-barchart'));
   chart.draw(data, options);
 };

   
 </script>

{% endblock scripts %}
<h1>Portfolio Overview</h1>

{% block messages %}
      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}"> 
                  {{ message|safe }}
              </div>
          {% endfor %}
      {% endif %}
  {% endblock %}
<div class="container">
  <div class="row">
    <div class="col-6">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Stock Symbol</th>
            <th scope="col">Stock Shares</th>
            <th scope="col">Cost (USD)</th>
            <th scope="col">Stock Latest Price (USD)</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        
        <tbody>
          {% if portfolio %}
            {% for item in portfolio %} 
                  <tr>
                      <td>{{ item.stock_symbol }}</td>
                      <td>{{ item.stock_shares }}</td>
                      <td>{{ item.stock_price }}</td>
                      <td>{{ item.stock_latestprice }}</td>
                      <!-- Button trigger Edit modal box -->
                      <td><a href="{% url 'portfolio:edit_holding' item.id %}" class="btn btn-warning" role="button">Edit</a></td> 
                      <!-- Button trigger delete modal -->
                      <td><a href="{% url 'portfolio:delete' item.stock_symbol %}" class="btn btn-danger" role="button">Delete</a></td> 
                  </tr>
            {% endfor %} 
          {% endif %}  
        </tbody>
      </table>
    </div>
    
    <div class="col-6">
      <div class="card" >
        <div id="stock-allocation-piechart" style="width: 600px; height: 400px;"></div>
          <div class="card-body">
            Pie Chart
          </div>
      </div>
      <br>
      <div class="card" >
          <div id="cost-price-barchart" style="width: 600px; height: 500px;"></div>
        <div class="card-body"> 
          Bar Chart
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

