{% extends 'base.html' %}
{% load static %}
{% block title %}
Portfolio overview

{% endblock %}

{% block content %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 <script type="text/javascript">
   google.charts.load('current', {'packages':['corechart']});
   google.charts.setOnLoadCallback(drawStockAllocationChart);
   const stockData = {{ piechartdata|safe }}
   
   function drawStockAllocationChart() {

     var data = google.visualization.arrayToDataTable(stockData);

     var options = {
       title: 'Stock Allocation'
     };

     var chart = new google.visualization.PieChart(document.getElementById('stock-allocation-piechart'));

     chart.draw(data, options);
   }

   
 </script>

{% endblock scripts %}
<h1>Portfolio Overview</h1>

{% block messages %}
      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}"> 
                  {{ message|safe }}
              </div>
          {% endfor %}
      {% endif %}
  {% endblock %}
<div class="container">
  <div class="row">
    <div class="col-6">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            
            <th scope="col">Stock Symbol</th>
            <th scope="col">Stock Shares</th>
            <th scope="col">Cost (USD)</th>
            <th scope="col">Stock Latest Price (USD)</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            
            
          </tr>
        </thead>
        
        <tbody>
          {% if portfolio %}
            {% for item in portfolio %} 
            
                
                  <tr>
                    
                      <td>{{ item.stock_symbol }}</td>
                      <td>{{ item.stock_shares }}</td>
                      <td>{{ item.stock_price }}</td>
                      <td>{{ item.stock_latestprice }}</td>
                      <!-- Button trigger Edit modal box -->
                      <td><a href="{% url 'portfolio:edit_holding' item.id %}" class="btn btn-warning" role="button">Edit</a></td> 
                      <!-- Button trigger delete modal -->
                      <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button></td> 
                  </tr>
                  
                  <!-- Delete Modal Box -->
                  <div
                  class="modal fade"
                  id="deleteModal"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          Delete this stock?
                        </h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
        
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                        >
                          No
                        </button>
                        <a href="{% url 'portfolio:delete' item.stock_symbol %}" class="btn btn-danger" role="button">Yes</a>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
      
          
          {% endif %}
      
        </tbody>
      </table>
    </div>
    
    <div class="col-6">
      <div class="card" >
        <div id="stock-allocation-piechart" style="width: 600px; height: 400px;"></div>

        <div class="card-body">
          
        </div>
      </div>
      <br>
      <div class="card" >
        <div id="piechart1"></div>

        <div class="card-body">
          
        </div>
        
      </div>
      
    </div>
  </div>
</div>


{% endblock %}

